@import '../mixin.scss';

.body{
    height: 100vh;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}


// TYPING TEXT ANIMATION
@keyframes typingText { from{width: 0;} to{width: 180px;}}
@keyframes blinkCaret { from{border-color: transparent;} to{border-color: rgb(0, 0, 0);}}
.typingText{

    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid rgb(100, 100, 100);
    letter-spacing: 0.2em;
    // width: fit-content;
    animation: 
        typingText 1s steps(10,end),
        blinkCaret 0.5s steps(2,end) infinite;    

    font-size: 36px;
    margin: 24px;    
}
