@import '../mixin.scss';

.center{
    @include center();
    height: 100vh;
}
.body{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // row-gap: 16px;
    align-items: center;
    // width: 50%;
}

.dashBox{
    // @include hoverAnimation();
    border: 1px solid;
    border-style: dashed;
    &:hover{
        background-color: #f9f9f9;
    }
}