@import '../mixin.scss';

.center{
    @include center();
    height: 100vh;
}
.body{
    display: flex;
    flex-direction: column;
    // align-items: center;
    row-gap: 16px;
    align-items: center;
    width: 50%;
}

.dashBox{
    @include hoverAnimation();
    text-align: center;
    border: 1px solid;
    border-style: dashed;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    // height: 24px;
    &:hover{
        background-color: #f9f9f9;
    }
}